#overview .container {
  max-width: none;
}

#overview .container .row .column:first-child{
  min-width: 285px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3px;
  text-align: center;
}
